<h1>Bo'lim ma'lumotlari</h1>
 <table class="table">
    <thead>
         <tr>
             <th>Name</th>
             <th>Phone</th>
             <th>Ma'lumoti</th>
             <th>Yoshi</th>
         </tr>
    </thead>
    <tbody>  
        <tr>
            <td>
                 {{onedepart.name}},
            </td>
            <td>
                 {{onedepart.phone}},
            </td>
            <td>
                {{onedepart.education}}
            </td>
            <td>
                {{onedepart.age}}
            </td>
        </tr>
    </tbody>
</table>