<h2>Yangi bo'lim</h2>
  
  <form action="/newdepartment" method="post">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Bo'lim nomi</label>
        <input type="text" class="form-control" name="name" placeholder="nomini yozing">
    </div>
    <div class="mb-3">
        <label for="phone" class="form-label">Telefon raqami</label>
        <input type="text" name="phone" data-maska="+998-(##) ###-##-##"
        class="form-control" name="phone" required>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Ma'lumoti</label>
        <input type="text" class="form-control" name="education" placeholder="ma'lumotingizni yozing">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Yoshi</label>
        <input type="number" class="form-control" name="age" placeholder="ma'lumotingizni yozing">
    </div>
       <button class="btn btn-primary" type="submit">Submit</button>
  </form>